.sidebar.noselect
  .search
    %input{:placeholder=>"Search"}
  %ul
    %li
      %p Heat Equation
      %ul
        %li
          %p Leapfrog
        %li
          %p Crank-Nicholson
        %li
          %p Adams-Bashforth
        %li
          %p Who knows what else
    %li
      %p Wave Equation
      %ul
        %li
          %p First order upwind
        %li
          %p Second order symmetric
        %li
          %p Compact Scheme
    %li
      %p Burger's Equation
      %ul
        %li
          %p First order upwind
        %li
          %p Second order symmetric
        %li
          %p Compact Scheme
    %li 
      %p Euler Equations
      %ul
        %li
          %p First order upwind
        %li
          %p Second order symmetric
