#tabpane
  .tabselect
    %ul
      %li.active
        %a#function_tab_link{:href=>'#'} functions
      %li
        %a#init_tab_link{:href=>'#'} init
      %li
        %a#iteration_tab_link{:href=>'#'} iteration
  = form_for snippet do |f|
    .functions.tab
      = f.text_area :functions
    .init.tab
      = f.text_area :init
    .iteration.tab
      = f.text_area :iteration
